@import '@assets/scss/common';
@import '@assets/scss/utils';

.app {
    @include flex-container;
    @include flex-direction(column);

    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;

    @media(min-width: 1200px) {
        max-width: 1024px;
    }
}
.content {
    @include flex(1 0 auto);

    overflow: auto;
}
:global(.theme-dark) {
    background: darkslateblue;
}
